[user]
	email = jan.drewniak@gmail.com
	name = Jan Drewniak
[core]
	excludesfile = /Users/jan/.gitignore_global
	editor = code --wait

[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool]
  prompt = false

[diff]
  tool = vscode

[difftool]
  prompt = false

[merge]
  tool = meld

[commit]
	template = ~/.stCommitMsg

[gitreview]
	remote = origin
	username = jdrewniak

[help]
	autocorrect = 1
